__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Output reports
*.sarif
*.json
leakguard-results.*

# Node & JS Build
node_modules/
.next/
out/
dist/
build/
*.vsix

# Python Build
*.egg-info/
*.egg

